
GO
USE [clinika]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2/5/2015 7:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AllocateMedicines]    Script Date: 2/5/2015 7:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AllocateMedicines](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ServiceCenterId] [int] NOT NULL,
	[Quantity] [float] NOT NULL,
	[DistrictUpazilaId] [int] NOT NULL,
	[MedicineId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.AllocateMedicines] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Diseases]    Script Date: 2/5/2015 7:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diseases](
	[DiseasesId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[TreatmentProcedure] [nvarchar](max) NULL,
	[MedicineId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Diseases] PRIMARY KEY CLUSTERED 
(
	[DiseasesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Districts]    Script Date: 2/5/2015 7:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Districts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Districts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DistrictUpazilas]    Script Date: 2/5/2015 7:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DistrictUpazilas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DistrictId] [int] NOT NULL,
	[UpazilaId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.DistrictUpazilas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DoctorEntries]    Script Date: 2/5/2015 7:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoctorEntries](
	[DoctorId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Degree] [nvarchar](max) NULL,
	[Specialization] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.DoctorEntries] PRIMARY KEY CLUSTERED 
(
	[DoctorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Doses]    Script Date: 2/5/2015 7:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doses](
	[DoseId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Doses] PRIMARY KEY CLUSTERED 
(
	[DoseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Meals]    Script Date: 2/5/2015 7:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Meals](
	[MealId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Meals] PRIMARY KEY CLUSTERED 
(
	[MealId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Medicines]    Script Date: 2/5/2015 7:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicines](
	[MedicineId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Weight] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Medicines] PRIMARY KEY CLUSTERED 
(
	[MedicineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PatientCounts]    Script Date: 2/5/2015 7:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientCounts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VoterId] [nvarchar](max) NULL,
	[DiseasesId] [int] NOT NULL,
	[DateTime] [datetime] NOT NULL DEFAULT ('1900-01-01T00:00:00.000'),
 CONSTRAINT [PK_dbo.PatientCounts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ServiceCenters]    Script Date: 2/5/2015 7:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceCenters](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[DistrictId] [int] NOT NULL,
	[UpazilaId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ServiceCenters] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Treatments]    Script Date: 2/5/2015 7:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Treatments](
	[TreatmentId] [int] IDENTITY(1,1) NOT NULL,
	[VoterId] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[DateOfBirht] [datetime] NOT NULL,
	[ServiceGiven] [int] NOT NULL,
	[Observation] [nvarchar](max) NULL,
	[Date] [datetime] NOT NULL,
	[DoctorId] [int] NOT NULL,
	[DiseaseId] [int] NOT NULL,
	[MedicineId] [int] NOT NULL,
	[DoseId] [int] NOT NULL,
	[MealId] [int] NOT NULL,
	[QuantityGiven] [nvarchar](max) NULL,
	[Note] [nvarchar](max) NULL,
	[ADiseases_DiseasesId] [int] NULL,
 CONSTRAINT [PK_dbo.Treatments] PRIMARY KEY CLUSTERED 
(
	[TreatmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Upazilas]    Script Date: 2/5/2015 7:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Upazilas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Population] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Upazilas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[AllocateMedicines] ON 

INSERT [dbo].[AllocateMedicines] ([Id], [ServiceCenterId], [Quantity], [DistrictUpazilaId], [MedicineId]) VALUES (3, 6, 9, 9, 1)
SET IDENTITY_INSERT [dbo].[AllocateMedicines] OFF
SET IDENTITY_INSERT [dbo].[Districts] ON 

INSERT [dbo].[Districts] ([Id], [Name]) VALUES (1, N'Barguna ')
INSERT [dbo].[Districts] ([Id], [Name]) VALUES (2, N'Barisal')
INSERT [dbo].[Districts] ([Id], [Name]) VALUES (3, N'Bhola')
SET IDENTITY_INSERT [dbo].[Districts] OFF
SET IDENTITY_INSERT [dbo].[DistrictUpazilas] ON 

INSERT [dbo].[DistrictUpazilas] ([Id], [DistrictId], [UpazilaId]) VALUES (2, 1, 1)
INSERT [dbo].[DistrictUpazilas] ([Id], [DistrictId], [UpazilaId]) VALUES (3, 1, 2)
INSERT [dbo].[DistrictUpazilas] ([Id], [DistrictId], [UpazilaId]) VALUES (4, 1, 3)
SET IDENTITY_INSERT [dbo].[DistrictUpazilas] OFF
SET IDENTITY_INSERT [dbo].[DoctorEntries] ON 

INSERT [dbo].[DoctorEntries] ([DoctorId], [Name], [Degree], [Specialization]) VALUES (1, N'Robin', N'MPHARMA', N'Eye')
SET IDENTITY_INSERT [dbo].[DoctorEntries] OFF
SET IDENTITY_INSERT [dbo].[Doses] ON 

INSERT [dbo].[Doses] ([DoseId], [Name]) VALUES (1, N'1,0,1')
INSERT [dbo].[Doses] ([DoseId], [Name]) VALUES (2, N'1,1,0')
INSERT [dbo].[Doses] ([DoseId], [Name]) VALUES (3, N'0,0,1')
SET IDENTITY_INSERT [dbo].[Doses] OFF
SET IDENTITY_INSERT [dbo].[Meals] ON 

INSERT [dbo].[Meals] ([MealId], [Name]) VALUES (1, N'Before Meal')
INSERT [dbo].[Meals] ([MealId], [Name]) VALUES (2, N'After Meal')
SET IDENTITY_INSERT [dbo].[Meals] OFF
SET IDENTITY_INSERT [dbo].[Medicines] ON 

INSERT [dbo].[Medicines] ([MedicineId], [Name], [Weight]) VALUES (1, N'Parasitemol', N'10')
SET IDENTITY_INSERT [dbo].[Medicines] OFF
SET IDENTITY_INSERT [dbo].[PatientCounts] ON 

INSERT [dbo].[PatientCounts] ([Id], [VoterId], [DiseasesId], [DateTime]) VALUES (1, N'112', 1, CAST(N'2010-06-13 22:47:00.000' AS DateTime))
INSERT [dbo].[PatientCounts] ([Id], [VoterId], [DiseasesId], [DateTime]) VALUES (2, N'112', 2, CAST(N'1900-01-01 00:00:00.000' AS DateTime))
INSERT [dbo].[PatientCounts] ([Id], [VoterId], [DiseasesId], [DateTime]) VALUES (3, N'113', 2, CAST(N'1900-01-01 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[PatientCounts] OFF
SET IDENTITY_INSERT [dbo].[ServiceCenters] ON 

INSERT [dbo].[ServiceCenters] ([Id], [Name], [Code], [Password], [DistrictId], [UpazilaId]) VALUES (5, N'Hatkhola Community Hospital', N'HACH', N'HACH', 4, 25)
INSERT [dbo].[ServiceCenters] ([Id], [Name], [Code], [Password], [DistrictId], [UpazilaId]) VALUES (6, N'Thairkhola Community Clinick', N'THCC', N'THCC', 2, 8)
INSERT [dbo].[ServiceCenters] ([Id], [Name], [Code], [Password], [DistrictId], [UpazilaId]) VALUES (7, N'Easin Community Clinik', N'EACC', N'EACC', 1, 3)
SET IDENTITY_INSERT [dbo].[ServiceCenters] OFF
SET IDENTITY_INSERT [dbo].[Treatments] ON 

INSERT [dbo].[Treatments] ([TreatmentId], [VoterId], [Name], [Address], [DateOfBirht], [ServiceGiven], [Observation], [Date], [DoctorId], [DiseaseId], [MedicineId], [DoseId], [MealId], [QuantityGiven], [Note], [ADiseases_DiseasesId]) VALUES (1, N'112', N'Sanjay', N'Dhaka', CAST(N'1993-01-12 00:00:00.000' AS DateTime), 1, N'fd', CAST(N'1993-01-12 00:00:00.000' AS DateTime), 1, 1, 1, 1, 1, N'1', N'f', NULL)
INSERT [dbo].[Treatments] ([TreatmentId], [VoterId], [Name], [Address], [DateOfBirht], [ServiceGiven], [Observation], [Date], [DoctorId], [DiseaseId], [MedicineId], [DoseId], [MealId], [QuantityGiven], [Note], [ADiseases_DiseasesId]) VALUES (2, N'112', N'Sanjay', N'Dhaka', CAST(N'1993-01-12 00:00:00.000' AS DateTime), 1, N'1', CAST(N'1993-01-12 00:00:00.000' AS DateTime), 1, 1, 1, 1, 1, N'1', N'1', NULL)
INSERT [dbo].[Treatments] ([TreatmentId], [VoterId], [Name], [Address], [DateOfBirht], [ServiceGiven], [Observation], [Date], [DoctorId], [DiseaseId], [MedicineId], [DoseId], [MealId], [QuantityGiven], [Note], [ADiseases_DiseasesId]) VALUES (3, N'112', N'Sanjay', N'Dhaka', CAST(N'1993-01-12 00:00:00.000' AS DateTime), 1, N'1', CAST(N'1993-01-12 00:00:00.000' AS DateTime), 1, 2, 1, 1, 1, N'1', N'1', NULL)
SET IDENTITY_INSERT [dbo].[Treatments] OFF
SET IDENTITY_INSERT [dbo].[Upazilas] ON 

INSERT [dbo].[Upazilas] ([Id], [Name], [Population]) VALUES (1, N'Amtali ', 0)
INSERT [dbo].[Upazilas] ([Id], [Name], [Population]) VALUES (2, N'Bamna ', 0)
INSERT [dbo].[Upazilas] ([Id], [Name], [Population]) VALUES (3, N'Barguna ', 0)
SET IDENTITY_INSERT [dbo].[Upazilas] OFF
/****** Object:  Index [IX_MedicineId]    Script Date: 2/5/2015 7:25:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_MedicineId] ON [dbo].[AllocateMedicines]
(
	[MedicineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ServiceCenterId]    Script Date: 2/5/2015 7:25:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_ServiceCenterId] ON [dbo].[AllocateMedicines]
(
	[ServiceCenterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MedicineId]    Script Date: 2/5/2015 7:25:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_MedicineId] ON [dbo].[Diseases]
(
	[MedicineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DistrictId]    Script Date: 2/5/2015 7:25:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_DistrictId] ON [dbo].[ServiceCenters]
(
	[DistrictId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UpazilaId]    Script Date: 2/5/2015 7:25:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_UpazilaId] ON [dbo].[ServiceCenters]
(
	[UpazilaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ADiseases_DiseasesId]    Script Date: 2/5/2015 7:25:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_ADiseases_DiseasesId] ON [dbo].[Treatments]
(
	[ADiseases_DiseasesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DoctorId]    Script Date: 2/5/2015 7:25:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_DoctorId] ON [dbo].[Treatments]
(
	[DoctorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DoseId]    Script Date: 2/5/2015 7:25:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_DoseId] ON [dbo].[Treatments]
(
	[DoseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MealId]    Script Date: 2/5/2015 7:25:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_MealId] ON [dbo].[Treatments]
(
	[MealId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MedicineId]    Script Date: 2/5/2015 7:25:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_MedicineId] ON [dbo].[Treatments]
(
	[MedicineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AllocateMedicines]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AllocateMedicines_dbo.Medicines_MedicineId] FOREIGN KEY([MedicineId])
REFERENCES [dbo].[Medicines] ([MedicineId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AllocateMedicines] CHECK CONSTRAINT [FK_dbo.AllocateMedicines_dbo.Medicines_MedicineId]
GO
ALTER TABLE [dbo].[AllocateMedicines]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AllocateMedicines_dbo.ServiceCenters_ServiceCenterId] FOREIGN KEY([ServiceCenterId])
REFERENCES [dbo].[ServiceCenters] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AllocateMedicines] CHECK CONSTRAINT [FK_dbo.AllocateMedicines_dbo.ServiceCenters_ServiceCenterId]
GO
ALTER TABLE [dbo].[Diseases]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Diseases_dbo.Medicines_MedicineId] FOREIGN KEY([MedicineId])
REFERENCES [dbo].[Medicines] ([MedicineId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Diseases] CHECK CONSTRAINT [FK_dbo.Diseases_dbo.Medicines_MedicineId]
GO
ALTER TABLE [dbo].[ServiceCenters]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ServiceCenters_dbo.Districts_DistrictId] FOREIGN KEY([DistrictId])
REFERENCES [dbo].[Districts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ServiceCenters] CHECK CONSTRAINT [FK_dbo.ServiceCenters_dbo.Districts_DistrictId]
GO
ALTER TABLE [dbo].[ServiceCenters]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ServiceCenters_dbo.Upazilas_UpazilaId] FOREIGN KEY([UpazilaId])
REFERENCES [dbo].[Upazilas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ServiceCenters] CHECK CONSTRAINT [FK_dbo.ServiceCenters_dbo.Upazilas_UpazilaId]
GO
ALTER TABLE [dbo].[Treatments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Treatments_dbo.Diseases_ADiseases_DiseasesId] FOREIGN KEY([ADiseases_DiseasesId])
REFERENCES [dbo].[Diseases] ([DiseasesId])
GO
ALTER TABLE [dbo].[Treatments] CHECK CONSTRAINT [FK_dbo.Treatments_dbo.Diseases_ADiseases_DiseasesId]
GO
ALTER TABLE [dbo].[Treatments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Treatments_dbo.DoctorEntries_DoctorId] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[DoctorEntries] ([DoctorId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Treatments] CHECK CONSTRAINT [FK_dbo.Treatments_dbo.DoctorEntries_DoctorId]
GO
ALTER TABLE [dbo].[Treatments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Treatments_dbo.Doses_DoseId] FOREIGN KEY([DoseId])
REFERENCES [dbo].[Doses] ([DoseId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Treatments] CHECK CONSTRAINT [FK_dbo.Treatments_dbo.Doses_DoseId]
GO
ALTER TABLE [dbo].[Treatments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Treatments_dbo.Meals_MealId] FOREIGN KEY([MealId])
REFERENCES [dbo].[Meals] ([MealId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Treatments] CHECK CONSTRAINT [FK_dbo.Treatments_dbo.Meals_MealId]
GO
ALTER TABLE [dbo].[Treatments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Treatments_dbo.Medicines_MedicineId] FOREIGN KEY([MedicineId])
REFERENCES [dbo].[Medicines] ([MedicineId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Treatments] CHECK CONSTRAINT [FK_dbo.Treatments_dbo.Medicines_MedicineId]
GO
USE [master]
GO
